<a href="https://colab.research.google.com/github/alirezashirmarz/PythonTraining/blob/main/PythonVariables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python History and Characteristics**
# 1) Python is a simple, general purpose, dynamic, high level, interpreted, and object-oriented programming language. üòÉ

# 2) It is "scripting language" ü§¶

# 3) Python supports multiple programming pattern, including object-oriented, imperative, and functional or procedural programming styles. ü§¥

# 4) Python was invented by Guido van Rossum in 1991 at CWI in Netherland. The idea of Python programming language has taken from the ABC programming language or we can say that ABC is a predecessor of Python language. üåù

# 5) There is also a fact behind the choosing name Python. Guido van Rossum was a fan of the popular BBC comedy show of that time, "Monty Python's Flying Circus". So he decided to pick the name Python for his newly created programming language. üòÜ

# 6) Python is not intended to work in a particular area, such as web programming. That is why it is known as multipurpose programming language because it can be used with web, enterprise, 3D CAD, etc.

# **Python Frameworks & Libraries**

# * Web development (Server-side) - Django Flask, Pyramid, CherryPy
# * GUIs based applications - Tk, PyGTK, PyQt, PyJs, etc.
# * Machine Learning - TensorFlow, PyTorch, Scikit-learn, Matplotlib, Scipy, etc.
# * Mathematics - Numpy, Pandas, etc.

In [13]:
# print Built-function 
a=10
print('My','name','is','Alireza' ,sep=',',end='\n')
print(3)

My,name,is,Alireza
3

In [18]:
# take input from the user
a=input('Please enter one number:')
print('you enter number',a, 'input variable type is: ',type(a))

# int number
b=int(input('Please enter one number:'))
print('you enter number',b, 'input variable type is: ',type(b))

Please enter one number:1
you enter number 1 input variable type is:  <class 'str'>
Please enter one number:3
you enter number 3 input variable type is:  <class 'int'>

In [21]:
# enter 5 numbers and add them 
lst=[]
n=0 ; sum=0
while n<5:
  lst.append(int(input(f'please enter number{n+1}:')))
  sum=sum+lst[n]
  n+=1
  
print(lst, n, sum)

please enter number1:1
please enter number2:2
please enter number3:3
please enter number4:4
please enter number5:5
[1, 2, 3, 4, 5] 5 15

# **Python Data Types**
# int, float, string, Boolean
# List, Tuple, set, Dictionary

In [18]:
a = 10  # integer
print(type(a))
b= 10.0 # float
print(type(b))
c1='Hello world!' # string
c2="Hello python's world!"  # string
c3= """ I am writing the first 
        code here as he said "The first Python file!"
 """  # string
print(type(c1),type(c2),type(c3))


lst1= list([])
lst2=[]
print(type(lst1),type(lst2))

st1=set([])
print(type(st1))

dct1=dict({})
dct2={}
print(type(dct1),type(dct2))

tpl1=(1,2,3,4)
tpl2= 1,2,3
print(type(tpl1),type(tpl2))

<class 'int'>
<class 'float'>
<class 'str'> <class 'str'> <class 'str'>
<class 'list'> <class 'list'>
<class 'set'>
<class 'dict'> <class 'dict'>
<class 'tuple'> <class 'tuple'>

In [24]:
# Convert datatypes
print(type(1.0))      # float
print(type(int(1.0))) #convert to int

print(type(float(2))) # conver to float

print(type(str(1))) # convert to str

print(type([tpl1]))
print(type(list(tpl2)))
print(type(tuple(lst1)))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'list'>
<class 'tuple'>

# **Getsizof objects in python**
#In python, the usage of sys.getsizeof() can be done to find the storage size of a particular object that occupies some space in the memory. This function returns the size of the object in <*bytes*>. It takes at most two arguments i.e Object itself.
# Each integer 28 Byte
# Each float 24 Byte
# Each list 72 Byte --> add element with 8 Byte
# Each tuple 56 Byte

In [53]:
import sys
k=[1.2,0.2]
m = (1,2)
print(sys.getsizeof(k))
print(sys.getsizeof(1.2))
print(sys.getsizeof(m))
#sys.getsizeof(lst)
m

88
24
72

(1, 2)